:root {
  --font-family: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
  /* --font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12pt;
  line-height: 21pt;
  color: var(--text-color-default);
}

b {
  font-weight: 600;
}

a {
  color: var(--text-color-link);
  font-weight: 600;
}

.body-15pt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15pt;
  line-height: 21pt;
  letter-spacing: 0;
}

.body-12pt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12pt;
  line-height: 18pt;
  letter-spacing: 0;
}

.body-9pt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 9pt;
  line-height: 13pt;
  letter-spacing: 0;
}

.weight-bold {
  font-weight: 700;
}

.weight-semibold {
  font-weight: 600;
}

.weight-medium {
  font-weight: 500;
}

.weight-regular {
  font-weight: 400;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.hex-string {
  text-transform: lowercase;
}
