.page.contrast-ratio .lorem-ipsum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  width: 80%;
}

.page.contrast-ratio .contrast-ratio__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.page.contrast-ratio .contrast-ratio__header > span {
  width: 25%;
}

.page.contrast-ratio .contrast-ratio__contrast {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page.contrast-ratio .contrast-ratio__ratio {
  font-weight: 600;
  font-size: 24pt;
  line-height: 30pt;
}

.page.contrast-ratio .contrast-ratio__level {
  font-weight: 600;
  font-size: 15pt;
  line-height: 21pt;
}

.page.contrast-ratio .color-card {
  overflow: hidden;
}
