.page.contrast-ratio .lorem-ipsum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  transition: color 0.3s;
  width: 80%;
}

.page.contrast-ratio .contrast-ratio__contrast {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page.contrast-ratio .contrast-ratio__ratio {
  font-weight: 600;
  font-size: 24pt;
  line-height: 30pt;
}

.page.contrast-ratio .color-card {
  overflow: hidden;
}
