.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 64px;
  padding: 16px 24px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateZ(0);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.app-header--no-shadow {
  box-shadow: none;
}

.app-header__title {
  white-space: nowrap;
}

.app-header > div {
  width: 25%;
}
