.color-picker {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-picker input[type="color"] {
  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.color-picker__selector {
  position: relative;
}

.color-picker__preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.42);
  pointer-events: none;
}

.color-picker__input {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  width: 120px;
}

.color-picker--left-aligned {
  flex-direction: row;
  text-align: left;
}

.color-picker--right-aligned {
  flex-direction: row-reverse;
  text-align: right;
}

.color-picker--right-aligned .color-picker__input > input {
  text-align: right;
}

.color-picker .shuffle-button {
  padding: 8px;
}

.color-picker .shuffle-button .material-icons {
  font-size: 15pt;
}
